html{
    color: #354657;
    font-size: 1rem;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
    font-family: 'Raleway', sans-serif;
}
header{
    top: 0;
    position: sticky;
}
body{
    margin: 0;
}
::selection{
    background-color: #946fd367;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.data{
    height: 45px;
    width: 90%;
}
#commit {
    width: 90%;
}
.table{
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 1fr 1fr 5%;
    row-gap: 20px;
}
.span1{
    grid-column-start: 2;
}
.span2{
    grid-column-start: 3;
}
.span3{
    grid-column-start: 4;
}
.span5{
    grid-column-start: 6;
}
.span4{
    margin-left: 15%;
}
.photo{
    grid-column-start: 2;
    grid-row-start: 2;
}
.product{
    grid-column-start: 3;
    grid-row-start: 2;
    padding-top: 15px;
}
.number{
    grid-column-start: 4;
    grid-row-start: 2;
    width: 50px;
    height: 35px;
    border: 2px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.mix{
    grid-column-start: 4;
    grid-row-start: 2;
    margin-left: 40%;
    margin-top: 2px;
}
.del{
    grid-column-start: 4;
    grid-row-start: 2;
    margin-left: 65%;
    margin-top: 2px;
}
.price{
    grid-column-start: 5;
    grid-row-start: 2;
    margin-left: 5%;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: pre;
}
.price2{
    grid-column-start: 6;
    grid-row-start: 2;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.table-style{
    font-weight: bold;
    text-transform: uppercase;
    color: #354657;
    padding-top: 10px;
}
.commit-form{
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 3px;
    }
input {
    accent-color: #946FD3;
}
.upper{
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
}
.pricer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.results{
    margin-left: 60%;
    margin-top: 30px;
}
.shipping{
    margin-left: 22.5%;
}
.result{
    margin-left: 32.5%;
}
.margin{
    margin-left: 30px;
}
.header_menu{
    display: flex;
    justify-content: center;
    margin-top: -120px;
}
.header_background{
    background-color: #F8F4FC;
    height: 118px;
    width: 100%;
}
.logo{
    height: 58px;
    margin-left: 15%;
    margin-top: 10px;
}
a.catalog, a.education, a.partners, a.stock {
    color: #354657;
    font-weight: bold;
    margin: 2%;
}
a.catalog:hover, a.education:hover, a.partners:hover, a.stock:hover {
    text-decoration: underline;
    color: black;
}
.header_icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 16%;
    margin-top: -60px;
}
.search, .user, .shopping-bag {
    margin-left: 1rem;
}
.page1, .page2{
    white-space: pre;
    color: #626262;
}
.page1:hover, .page2:hover{
    text-decoration: underline;
}
.submenu{
    margin-left: 15%;
    margin-top: 20px;
}
@media (min-width: 1000px) and (max-width: 1600px){
    .logo{
        margin-left: 50px;
    }
    .header_menu{
        margin-top: -105px;
        margin-left: 80px;
    }
    .header_icons{
        margin-top: -50px;
        margin-right: 100px;
    }
    .submenu{
        margin-top: 50px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) and (max-width: 999px){
    .logo{
        margin: 10px;
    }
    .header_menu{
        margin-top: -70px;
        margin-left: -10px;
    }
    .submenu{
        margin-top: 30px;
    }
}

.title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 15%;
}

.container{
    display: grid;
    grid-template-columns: 14% 20% 50% 15%;
    grid-auto-flow: column;
    margin-top: 30px;
    column-gap: 30px;
    row-gap: 30px;
}
.line{
    width: 100%;
    height: 0px;
    border: 1px solid #E2E2E2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.block_login{
    width: 100%;
    height: 113px;
    background-color: #F0F2F5;
    grid-column-start: 2;
}
.block_delivery{
    height: 113px;
    background-color: #F0F2F5;
    grid-column-start: 3;
}
.block_user-data{
    height: 950px;
    background-color: #F0F2F5;
    grid-column-start: 2;
}
.data{
    border: #B6B6B6 1px solid;
    border-radius: 3px;
}
.block_payment{
    height: 113px;
    background-color: #F0F2F5;
    grid-column-start: 3;
    grid-row-start: 3;
}
.block_shopping-bag{
    height: 41px;
    background-color: #F0F2F5;
    grid-column-start: 3;
    grid-row-start: 5;
    margin-top: -780px;
}
.your_shopping-bag{
    font-weight: bold;
    font-size: 1.5rem;
    height: 23px;
    grid-column-start: 3;
    grid-row-start: 4;
    margin-top: -800px;
}
.block_payment2{
    height: 400px;
    background-color: #F0F2F5;
    grid-column-start: 3;
    grid-row-start: 5;
    margin-top: -450px;
}
footer a{
    color: black;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
.footer{
    height: 97px;
    background-color: white;
    border-top: 1px solid #E2E2E2;
    width: 100%;
    margin-top: 150px;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.terra-health_bottom{
    margin-left: -5%;
    margin-top: -20px;
    margin-left: -150px;
    }

.team{
    margin-right: 2.5rem;
}
.facebook, .instagramm, .youtube, .linkedin{
    margin-right: 1rem;
}
.footer_text{
    margin-left: -20%;
}
@media (min-width: 800px) and (max-width: 1299px) {
    .footer_text{
        margin-left: 20px;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
    .footer_text{
        margin-left: -250px;
    }
    
    .footer_icons{
        margin-left: -700px;
        margin-top: 40px;
    }
}
@media (min-width: 500px) and (max-width: 599px) {
    .footer_text{
        margin-top: 20px;
        margin-left: -200px;
        margin-top: 40px;
    }
}
.commit{
    width: 80%;
    height: 86px;
}
.form-user{
    margin-left: 30px;
}
.button{
    width: 206px;
    height: 54px;
    background-color: #946FD3;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-left: 70%;
}
.button::after{
    content: "Перейти к оплате";
    position: relative;
    top: 20px;
    left: 30px;
}